.box{
    color: rgb(247, 242, 234);
    background-color:rgb(207, 124, 16) ;
    font-size: 30px;
    width: 200px;
    text-align: center;
    margin: 5px auto ;
    padding: 30px;
    box-shadow: 10px -5px 10px rgb(31, 30, 28);
    text-shadow: 10px -5px 15px green;
    
}
.box :hover{
    color: black;
    background-color: blue;
    border-radius: 50%;
    font-size: 30px;
    font-style: oblique;
}
    .box1:hover
    {
        color: black;
        background-color: blue;
        border-radius: 50%;
        font-size: 30px;
        font-style: oblique;
        border-color: 2px solid rgb(243, 235, 235);
}
.box1{
    color: wheat;
    background-color:rgb(73, 64, 52) ;
    font-size: 35px;
    width: 200px;
    text-align: center;
    border-radius: 15px;
    margin: 10px auto ;
    padding: 30px;
    border-radius: 50%;
    text-shadow: 10px -5px 15px green;
    font-family: monospace;

}

/* css border proparti */
.box{
    border-radius: 50%;
    border: 10px solid rgb(145, 13, 13);
    border-color: steelblue;
    border-style:dashed;
}
/* background proparti  */

body{
    background-image: url( m.jpg);
   background-size:contain;
    background-position:right top;
    background-attachment: fixed;
}
p{
 color:rgb(26, 20, 13);
 font-size: 30px;
 font-family: monospace;
 font-style: italic;  
   text-shadow: 10px -5px 15px green;

}



